@model Easy.Models.Compromissos
@{
    ViewBag.Title = "Novo Compromisso";
}
<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-9">
            <div class="well bs-component">
                 @using (Html.BeginForm("Add", "Compromissos", null, FormMethod.Post, new { @class="form-horizontal"})) {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <fieldset>
                        <legend draggable="true">Novo Compromisso</legend>
                        @Html.ValidationSummary(true)
                        <div class="form-group" draggable="true">
                            <label for="inputTitulo" class="col-lg-2 control-label">Título</label>
                            <div class="col-lg-10">
                                @Html.TextBoxFor(model => model.Titulo, new { @Id = "inputTitulo", @class = "form-control", @type = "text", @maxlength = "30" })
                                @Html.ValidationMessageFor(model => model.Titulo, null, new { @class = "text-danger"})
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputDescricao" class="col-lg-2 control-label">Descrição</label>
                            <div class="col-lg-10">
                                @Html.TextAreaFor(model => model.Descricao, new { @Id = "inputDescricao", @class = "form-control", @maxlength = "50" })
                                @Html.ValidationMessageFor(model => model.Descricao, null, new { @class = "text-danger"})
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputDefault" class="col-lg-2 control-label">Data de Início</label>
                            <div class="col-lg-10">
                                <div class="controls input-append date form_datetime" data-date="" data-date-format="dd/mm/yyyy HH:ii p" data-link-field="dtp_input1">
                                    @Html.TextBoxFor(model => model.DataInicio, new { @class = "form-control dtIni", id = "inputDefault", @readonly = true, @size = "20" })
                                    @Html.ValidationMessageFor(model => model.DataInicio, null, new { @class = "text-danger" })
                                    <span style="margin-left: 90%" class="add-on"><i class="icon-th icon-material-today"></i></span>&nbsp&nbsp
                                    <span class="add-on"><i class="icon-material-close btClose1"></i></span>
                                </div>
                                <input type="hidden" id="dtp_input1" value="" /><br />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputDefault" class="col-lg-2 control-label">Data de Término</label>
                            <div class="col-lg-10">
                                <div class="controls input-append date form_datetime" data-date="" data-date-format="dd/mm/yyyy HH:ii p" data-link-field="dtp_input1">
                                    @Html.TextBoxFor(model => model.DataTermino, new { @class = "form-control dtFim", id = "inputDefault", @readonly = true, @size = "20" })
                                    @Html.ValidationMessageFor(model => model.DataTermino, null, new { @class = "text-danger" })
                                    <span style="margin-left: 90%" class="add-on"><i class="icon-th icon-material-today"></i></span>&nbsp&nbsp
                                    <span class="add-on"><i class="icon-material-close btClose2"></i></span>
                                </div>
                                <input type="hidden" id="dtp_input2" value="" /><br />
                            </div>
                        </div>
                        <div class="form-group" draggable="true">
                            <label for="inputParticipantes" class="col-lg-2 control-label">Participantes</label>
                            <div class="col-lg-10">
                                @Html.TextBoxFor(model => model.Usuario.Email, new { @Id = "inputParticipantes", @class = "form-control", @placeholder = "Participantes", @type = "text" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <input class="btn btn-primary" type="submit" value="Adicionar" />
                            </div>
                        </div>
                    </fieldset>
                 }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">

    $(".btClose1").click(function()
    {
        $(".dtIni").val("");
    });

    $(".btClose2").click(function () {
        $(".dtFim").val("");
    });

  $('.form_datetime').datetimepicker({
      language:  'pt-BR',
      weekStart: 1,
      todayBtn: 1,
      autoclose: 1,
      todayHighlight: 1,
      startView: 2,
      forceParse: 0,
      showMeridian: 1
  });
  $('.form_date').datetimepicker({
            language: 'pt-BR',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
  $('.form_time').datetimepicker({
            language: 'pt-BR',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 1,
            minView: 0,
            maxView: 1,
            forceParse: 0
        });
</script>
