@model IEnumerable<Easy.Models.Compromissos>

@{
    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Gerenciamento de Compromissos";
    string classe = "";
    int valida = 0;

    if (Session["Add"] != null)
    {
        valida = int.Parse(Session["Add"].ToString());
    }

    Session.Remove("Add");
}

<h2>Gerenciamento de Compromissos</h2>
<a href="~/Compromissos/Add" style="margin-left:90%" class="btn btn-fab btn-primary btn-raised icon-material-add" title="Adicionar Compromisso"></a>
<br />
<br />
<table class ="table table-striped table-hover well bs-component">
    <tr >
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td colspan="6">
            
            De: @Html.DisplayFor(modelItem => item.DataInicio)
            até @Html.DisplayFor(modelItem => item.DataTermino)
        </td>
    </tr>
    <tr>
        <td>
            @if(item.Status == "C")
            {
                <div class="ClasseRed" title="Cancelado">
                </div>
            }
            else if (item.Status == "T")
            {
                <div class="ClasseGreen" title="Concluído">
                </div>
            }
            else if (item.Status == "A")
            {
                <div class="ClasseYellow" title="Em Andamento">

                </div>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
        </td>
        <td>
           <form action="~/Compromissos/EditarCompromisso" method="post">
               @Html.Hidden("id", item.IdComp)
                <div class="btn-group color_button" style="margin-left:0%">
                    <button type="submit" class="btn btn-default"><i class="texto2 icon-material-create"></i></button>
                </div>
           </form>
        </td>
        <td>
           <form action="~/Compromissos/AlterarStatusComp" method="post">
               @Html.Hidden("id", item.IdComp)
                <div class="btn-group color_button" style="margin-left:0%">
                    <button type="submit" class="btn btn-default"><i class="texto2 icon-material-done"></i></button>
                </div>
           </form>
        </td>
    </tr>
}

</table>

<script>

    if($("#hidValida").val() == 1)
    {
        $(document).ready(function () {
            $.snackbar({ content: "O Compromisso foi Cadastrado com Sucesso. Verifique as informações.", timeout: 8000 });
        });
    }

    $(document).ready(function () {
        $(".HideComentario").hide();
    });;

    $("#btCom").click(function () {
        var x = $("#btCom").val();
        $("#"+x).slideToggle();
    });

    $('#myTab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })

</script>
<style>
    .ClasseRed {
        background-color: red;
        float:left;
        width:5px;
        height:57px;
        margin-right:0PX;
    }
    .ClasseGreen {
        background-color: green;
        float:left;
        width:5px;
        height:57px;
        margin-right:0PX;
    }
    .ClasseYellow {
        background-color: yellow;
        float:left;
        width:5px;
        height:57px;
        margin-right:0PX;
    }
</style>
@{
    
    Session["Add"] = 0;
}

