@using PagedList.Mvc;
@model PagedList.IPagedList<Easy.Models.Compromissos>

@{
    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Gerenciamento de Compromissos";
    string classe = "";
    int valida = 0;

    if (Session["AddCompromisso"] != null)
    {
        valida = int.Parse(Session["AddCompromisso"].ToString());
    }

    var User = Easy.Models.Usuario.VerificaSeOUsuarioEstaLogado();

    var Nota = new Easy.Models.DAONotas();

    
    Session.Remove("AddCompromisso");
}
<input id="hidValida" value="@valida" type="hidden"/>
<h2 style="float:left">Gerenciamento de Compromissos</h2>
<a href="~/Compromissos/Add" style="margin-left: 90%;" class="btn btn-fab btn-primary btn-raised icon-material-add" data-toggle="tooltip" data-placement="bottom" title="Adicionar" data-original-title="Adicionar Compromisso"></a>
<br />
<br />
<div class="navbar navbar-inverse">

    <div class="navbar-inverse-collapse">
        @using(Html.BeginForm("Index", "Compromissos", FormMethod.Get, new { @class="navbar-form navbar-left" }))
        {
            @Html.TextBox("search", null, new { @class="form-control col-lg-8", @placeholder="Título do Compromisso...", @onKeyPress="return submitenter(this,event)" } )
        }
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Data de Início <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Crescente", "Index", new { @sortOrder = "icresc" })</li>
                    <li>@Html.ActionLink("Descrescente", "Index", new { @sortOrder = "idesc" })</li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Data de Término <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Crescente", "Index", new { @sortOrder = "tcresc" })</li>
                    <li>@Html.ActionLink("Descrescente", "Index", new { @sortOrder = "tdesc" })</li>
                </ul>
            </li>
        </ul>
          <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Status <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Cancelado", "Index", new { @sortOrder = "cancelado" })</li>
                    <li>@Html.ActionLink("Concluído", "Index", new { @sortOrder = "concluido" })</li>
                    <li>@Html.ActionLink("Próximo", "Index", new { @sortOrder = "proximo" })</li>
                    <li>@Html.ActionLink("Em Andamento", "Index", new { @sortOrder = "andamento" })</li>
                </ul>
            </li>
        </ul>
         <!--&nbsp &nbsp &nbsp &nbsp <input type="submit" class="btn btn-primary" value="Filtrar" /> -->
    </div>
</div>
@if (Model.Count() > 0)
{
    <table class="table table-striped table-hover well bs-component">
        <tr>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td colspan="6">
                    <i>
                        @Html.DisplayFor(modelItem => item.DataInicio)
                        @Html.DisplayFor(modelItem => item.DataTermino)
                    </i>
                </td>
            </tr>
            <tr class="">
                <td class="Status">
                    @if (item.Status == "C")
                    {
                        <i class=" ClasseRed mdi-action-alarm" title="Cancelado"></i>
                    }
                    else if (item.Status == "T")
                    {
                          <i class=" ClasseGreen mdi-action-alarm" title="Terminado"></i>
                    }
                    else if (item.Status == "A")
                    {
                        <i class=" ClasseYellow mdi-action-alarm" title="Em Andamento"></i>
                    }
                    else
                    {
                        <i class=" ClasseDefault mdi-action-alarm" title="Próximo"></i>
                    }
                </td>
                <td class="well-sm">
                    <div class="well" style="max-width:500px">
                        <div class="div-tarefas">
                            <b>@Html.DisplayFor(modelItem => item.Titulo)</b>
                        </div>
                        <div style="height: 6px;"></div>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </div>
                </td>
                <td style="width:200px">
                    @if (item.Usuario.IdUser == User.IdUser)
                    {
                        <form action="~/Compromissos/EditarCompromisso" method="post">
                            @Html.Hidden("id", item.IdComp)
                            <div class="btn-group color_button" style="margin-left: 7%; float: left">
                                <button type="submit" class="btn btn-default" title="Editar"><i class="texto2 ClasseAlta icon-material-create"></i></button>
                            </div>
                        </form>
                    }
                    else
                    {
                        <form action="~/Compromissos/EditarCompromisso" method="post">
                            @Html.Hidden("id", item.IdComp)
                            <div class="btn-group color_button" style="margin-left: 7%; float: left">
                                <button type="submit" class="btn btn-default" title="Detalhes"><i class="texto2 ClasseAlta mdi-action-description"></i></button>
                            </div>
                        </form>
                    }
                    
                            <div class="btn-group color_button" style="margin-left: 7%; float: left">
                                <a  title="Notas" data-toggle="modal" href="#@item.IdComp" class="notaslt texto2 ClasseAlta mdi-maps-rate-review" style="text-decoration:none !important; color:white"></a>
                            </div>
                    
                </td>
            </tr>
            }        

    </table>   
}
else
{    
    <h3>Você não possui Compromissos! Por favor redefina a busca ou adicione um novo compromisso.</h3>
}
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.Sort, currentFilter = ViewBag.Filtro }))

                            @foreach (var item in Model){

<div id="@item.IdComp" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                          
                              @Html.Partial("Notas", Nota.ListarNotas(item.IdComp))
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>}

<script>

    $(document).ready(function () {
        $("#btteste").click(function () {
            $("#myModal").modal('toogle');
        });
    });

    if ($("#hidValida").val() == 1) {
        $(document).ready(function () {
            $.snackbar({ content: "O Compromisso foi Cadastrado. Verifique as informações.", timeout: 8000 });
            $("#hidValida").val() = 0;
        });
    }
    else if ($("#hidValida").val() == 2) {
        $(document).ready(function () {
            $.snackbar({ content: "O Compromisso foi Alterado. Verifique as informações.", timeout: 8000 });
            $("#hidValida").val() = 0;
        });
    }
    else if ($("#hidValida").val() == 3) {
        $(document).ready(function () {
            $.snackbar({ content: "O Compromisso foi Cancelado. Verifique as informações.", timeout: 8000 });
            $("#hidValida").val() = 0;
        });
    }
    else if ($("#hidValida").val() == 4) {
        $(document).ready(function () {
            $.snackbar({ content: "O Compromisso foi Ativado. Verifique as informações.", timeout: 8000 });
            $("#hidValida").val() = 0;
        });
    }
    $(document).ready(function () {
        $(".HideComentario").hide();
    });;

    $("#btCom").click(function () {
        var x = $("#btCom").val();
        $("#" + x).slideToggle();
    });

    $('#myTab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })

    $('.notaslt').click(function () {

        $.ajax({
            url: "/Compromissos/CapturaId",
            data: {
                idcomp: $(this).attr('href')
            },
            dataType: "json",
            type: "GET",
            async: true
        });
    })

    $('.editnt').click(function () {

        $.ajax({
            url: "/Compromissos/EditarNota",
            data: {
                id: $(this).attr('href')
            },
            dataType: "json",
            type: "GET",
            async: true,
            success: function (dados) {
                if (dados != null) {
                    $(".form-control").html(dados.DescricaoNota);

                }
        
            }
        })
    });
</script>
<style>
    .Status {
        width:10%;
        height:60px;
    }
    .ClasseRed {
        margin:auto;
        color:red;
        font-size:25px;
    }
    .ClasseGreen {
        margin:auto;
        color:green;
        font-size:25px;
    }
    .ClasseYellow {
        margin:auto;
        color:yellow;
        font-size:25px;
    }
    .ClasseAlta {
        font-size:15px;
    }

    .ClasseDefault {
        margin:auto;
        color:blue;
        font-size:25px;
    }
</style>
@{
    
    Session["Add"] = 0;
}

