@model IEnumerable<Easy.Models.Compromissos>

@{
    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Gerenciamento de Compromissos";
    string classe = "";
    int valida = 0;

    if (Session["AddCompromisso"] != null)
    {
        valida = int.Parse(Session["AddCompromisso"].ToString());
    }

    Session.Remove("AddCompromisso");
}
<input id="hidValida" value="@valida" type="hidden"/>
<h2>Gerenciamento de Compromissos</h2>
<a href="~/Compromissos/Add" style="margin-left: 90%" class="btn btn-fab btn-primary btn-raised icon-material-add" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Adicionar Compromisso"></a>
<br />
<br />
<div class="navbar navbar-inverse">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Tipo <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="javascript:void(0)">Proximidade</a></li>
                    <li><a href="javascript:void(0)">Data</a></li>
                    <li><a href="javascript:void(0)">Título</a></li>
                    <li><a href="javascript:void(0)">Status</a></li>
                </ul>
            </li>
        </ul>
        @if (1 == 1)
        {
            <form class="navbar-form navbar-left">
                <input type="text" class="form-control col-lg-8" placeholder="1">
            </form>
        }
        else
        {
            <form class="navbar-form navbar-left">
                <input type="text" class="form-control col-lg-8" placeholder="2">
            </form>
        }

    </div>
</div>
@if (Model.Count() > 0)
{
    <table class="table table-striped table-hover">
        <tr>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td colspan="6">

                    @Html.DisplayFor(modelItem => item.DataInicio)
                    @Html.DisplayFor(modelItem => item.DataTermino)
                </td>
            </tr>
            <tr>
                <td>
                    @if (item.Status == "C")
                    {
                        <div class="ClasseRed" title="Cancelado">
                        </div>
                }
                    else if (item.Status == "T")
                    {
                        <div class="ClasseGreen" title="Concluído">
                        </div>
                }
                    else if (item.Status == "A")
                    {
                        <div class="ClasseYellow" title="Em Andamento">
                        </div>
                }
                </td>
                <td class="well-sm">
                    @Html.DisplayFor(modelItem => item.Titulo)
                    @Html.DisplayFor(modelItem => item.Descricao)


                    <form action="~/Compromissos/EditarCompromisso" method="get">
                        @Html.Hidden("id", item.IdComp)
                        <div class="btn-group color_button" style="margin-left: 0%; float: right">
                            <button type="submit" class="btn btn-default"><i class="texto2 icon-material-create"></i></button>
                        </div>
                    </form>
                    <form action="~/Compromissos/AlterarStatusComp" method="post">
                        @Html.Hidden("id", item.IdComp)
                        <div class="btn-group color_button" style="margin-left: 0%; float: right">
                            <button type="submit" class="btn btn-default"><i class="texto2 icon-material-done"></i></button>
                        </div>
                    </form>
                </td>
            </tr>
    }

    </table>
}
else
{    
    <h3>Você não possui Compromissos! Por favor redefina a busca ou adicione um novo compromisso.</h3>
}

<script>

    $(document).ready(function () {
        $("#btteste").click(function () {
            $("#myModal").modal('toogle');
        });
    });

    if ($("#hidValida").val() == 1) {
        $(document).ready(function () {
            $.snackbar({ content: "O Compromisso foi Cadastrado. Verifique as informações.", timeout: 8000 });
            $("#hidValida").val() = 0;
        });
    }
    else if ($("#hidValida").val() == 2) {
        $(document).ready(function () {
            $.snackbar({ content: "O Compromisso foi Alterado. Verifique as informações.", timeout: 8000 });
            $("#hidValida").val() = 0;
        });
    }

    $(document).ready(function () {
        $(".HideComentario").hide();
    });;

    $("#btCom").click(function () {
        var x = $("#btCom").val();
        $("#" + x).slideToggle();
    });

    $('#myTab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })

</script>
<style>
    .ClasseRed {
        background-color: red;
        float:left;
        width:5px;
        height:57px;
        margin-right:0PX;
    }
    .ClasseGreen {
        background-color: green;
        float:left;
        width:5px;
        height:57px;
        margin-right:0PX;
    }
    .ClasseYellow {
        background-color: yellow;
        float:left;
        width:5px;
        height:57px;
        margin-right:0PX;
    }
</style>
@{
    
    Session["Add"] = 0;
}

