<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>

    <style type="text/css">
        #div_fundo {
            background: url(/Content/img/woman.jpg) no-repeat center center ;
            -webkit-background-size: 100% 650px;
            -moz-background-size: 100% 650px;
            -o-background-size: 100% 650px;
             background-size: 100% 650px;
             height: 400px;
             margin-top: 10px;
        }
    </style>

     @Styles.Render("~/Content/css")
     @Scripts.Render("~/bundles/modernizr")


</head>

<body>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/easy")

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

    </script>
    @RenderSection("scripts", required: false)

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div id="div_fundo">    
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
           &nbsp;
          </div>
          <div class="col-lg-9">
               @RenderSection("featured", required: false)
               @RenderBody()
          </div>
        </div>
      </div>
    </div>
</div>


<!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1>EASY Peoples</h1>
                <p>Agora ficou ainda mais fácil gerenciar suas rotinas. Com EASY Peoples, suas atividades se tornarão cada vez mais simples e práticas </p>
            </div>
        </div>

        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Easy Software 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
     
</body>
</html>


