<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>

     @Styles.Render("~/Content/css")
     @Scripts.Render("~/bundles/modernizr")


</head>

<body>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/easy")

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

    </script>
    @RenderSection("scripts", required: false)      

  <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
           &nbsp;
          </div>
          <div class="col-lg-9">
               @RenderSection("featured", required: false)
               @RenderBody()
          </div>
        </div>
      </div>
    </div>
</body>
</html>


