@model Easy.Models.Usuario
@{
    ViewBag.Title = "Novo Contato";
}

<div class="bs-docs-section">
              <div class="row" style="">
                <div class="col-lg-9">
                  <div class="well bs-component">
                    <form class="form-horizontal" style="" method="post">
                      <fieldset>
                        <legend>Novo Contato</legend>
                         @Html.ValidationSummary(true)
                        <div class="form-group">
                          <label for="inputNome" class="col-lg-2 control-label">Nome</label>
                          <div class="col-lg-10">
                          @Html.TextBoxFor(model => model.Nome, new { @id="inputNome", @maxlength = "30", @placeholder="Nome", @class = "form-control", @required=true})
                           </div>
                        </div>
                          <div class="form-group">
                          <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                          <div class="col-lg-10">
                             @Html.TextBoxFor(model => model.Email, new { @id="inputEmail", @maxlength = "80", @placeholder="Email", @class = "form-control", @type="email", @required=true})
                         <div id="status">
                                <div class="checkbox">
                                  @if(Easy.Models.Usuario.VerificaSeOUsuarioEstaLogado().LiberaConvite == "S"){
                              <label><input type="checkbox" name="CheckUserSist" id="CheckUserSist">Convidar - Usuario do Sistema</label>
                               <div id="pms" class="checkbox">
                                    <label><input type="checkbox" name="CheckEnvConv" id="CheckEnvConv">Permissão - Envio de Convite</label>
                                </div>
                                  }
                                </div>
                             </div>
                            </div>
                          </div>    
                            <div class="form-group">
                            <label for="inputDefault" class="col-lg-2 control-label">Data de Nascimento</label>
                            <div class="col-lg-10">
                                <div class="controls input-append date form_date" data-date="" data-date-format="dd/mm/yyyy" data-link-field="dtp_input1">
                                    @Html.TextBoxFor(model => model.DataNasc, new { @class = "form-control dtFim", id = "inputDefault", @readonly = true, @size = "20" })
                                    @Html.ValidationMessageFor(model => model.DataNasc, null, new { @class = "text-danger" })
                                    <span style="margin-left: 90%" class="add-on"><i class="icon-th icon-material-today"></i></span>&nbsp&nbsp
                                    <span class="add-on"><i class="icon-material-close btClose2"></i></span>
                                </div>
                                <input type="hidden" id="dtp_input2" value="" /><br />
                            </div>
                        </div>
                        <br />
                         <h4>Adicionais</h4>
                          <hr />

                          <div class="form-group">
                          <label for="inputEnd" class="col-lg-2 control-label">Endereço</label>
                          <div class="col-lg-10">
                             @Html.TextBoxFor(model => model.Endereco, new { @id="inputEnd", @maxlength = "50", @placeholder="Endereço", @class = "form-control", @type="text" })
                          </div>
                        </div>
                          
                          <div class="form-group">
                          <label for="inputBairro" class="col-lg-2 control-label">Bairro</label>
                          <div class="col-lg-10">
                             @Html.TextBoxFor(model => model.Bairro, new { @id="inputBairro", @maxlength = "50", @placeholder="Bairro", @class = "form-control", @type="text" })
                          </div>
                        </div>

                          <div class="form-group">
                          <label for="inputCid" class="col-lg-2 control-label">Cidade</label>
                          <div class="col-lg-10">
                             @Html.TextBoxFor(model => model.Cidade, new { @id="inputCidade", @maxlength = "50", @placeholder="Cidade", @class = "form-control", @type="text" })
                          </div>
                        </div>

                             <div class="form-group">
                          <label for="inputCep" class="col-lg-2 control-label">Cep</label>
                          <div class="col-lg-10">
                             @Html.TextBoxFor(model => model.Cep, new { @id="inputCep", @maxlength = "9", @class = "form-control", @type="text" })
                          </div>
                        </div>

                          <div class="form-group">
                          <label for="inputTelefone" class="col-lg-2 control-label">Telefone</label>
                          <div class="col-lg-10">
                             @Html.TextBoxFor(model => model.Telefone, new { @id="inputTel", @maxlength = "20", @class = "form-control", @type="tel" })
                          </div>
                        </div>

                          <div class="form-group">
                          <label for="inputApelido" class="col-lg-2 control-label">Apelido</label>
                          <div class="col-lg-10">
                             @Html.TextBoxFor(model => model.Apelido, new { @id="inputApel", @maxlength = "50", @class = "form-control", @type="text" })
                          </div>
                        </div>
                            <input type="hidden" name="mais" id="mais" value=""/>        

                       
                        <div class="form-group">
                          <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary">Adicionar</button>
                          </div>
                        </div>
                      </fieldset>
                    </form>
                  </div>
                </div>
              </div>
 </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")   
    @Scripts.Render( "~/bundles/jqueryui" )
    @Scripts.Render("~/bundles/bootdt")

}  
         
<script>

    $(".btClose2").click(function () {
        $(".dtFim").val("");
    });

    $('.form_datetime').datetimepicker({
        language: 'pt-BR',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1,
        startDate: "+1d"
    });
    $('.form_date').datetimepicker({
        language: 'pt-BR',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
    $('.form_time').datetimepicker({
        language: 'pt-BR',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 1,
        minView: 0,
        maxView: 1,
        forceParse: 0
    });

 $(document).ready(function () {
        $("#status").hide();
        $("#inputEmail").blur(function () {

            $.ajax({
                url: "/Contatos/AutenticaEmail",
                data: {
                    email: $("#inputEmail").val(),
                },
                dataType: "json",
                type: "GET",
                async: true,
                success: function (dados) {
                    if (dados.OK) {
                        $('input[type=checkbox]').attr('checked', false);
                        $('#mais').val(dados.mais);

                        if (dados.mais == "true") {
                            $('#pms').hide();
                        } else {
                            $('#pms').show();
                        }
                        $("#status").show();

                    }
                    else {
                        $("#status").hide();
                        $('#pms').show();

                        $('input[type=checkbox]').attr('checked', false);

                    }
                }
            });
        });
 });
</script>
