@model Easy.Models.Usuario
@{
    ViewBag.Title = "Detalhes";

    int valida = 0;

    if (Session["snack"] != null)
    {
        valida = int.Parse(Session["snack"].ToString());
    }

        
    Session.Remove("snack");
}

<input id="hidValida" value="@valida" type="hidden"/>

<div class="bs-docs-section">
    <div class="row" style="">
        <div class="col-lg-9">
            <div class="well bs-component">
                <form class="form-horizontal" style="" method="post" action="AtualizarDetalhes">
                    <fieldset>
                        <legend>Detalhes Contato</legend>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                            <img style="width:30%;height:30%" src="@Model.Imagem" alt="icon">
                        </div>
                            </div>
                        <hr />
                        <div class="form-group">
                            <label for="inputNome" class="col-lg-2 control-label">Nome</label>
                            <div class="col-lg-10">
                                @Html.TextBoxFor(model => model.Nome, new { @id = "inputNome", @maxlength = "30", @placeholder = "Nome", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                            <div class="col-lg-10">
                                @Html.TextBoxFor(model => model.Email, new { @id = "inputEmail", @maxlength = "80", @placeholder = "Email", @class = "form-control", @type = "email", @readonly = true })
                                @Html.HiddenFor(model => model.Imagem)
                                @Html.HiddenFor(model => model.IdUser)
                                @Html.HiddenFor(model => model.UsuarioSistema)
                                @Html.HiddenFor(model => model.LiberaConvite)
                            </div>
                        </div>

                        <br />
                        <h4>Adicionais</h4>
                        <hr />

                        <div class="form-group">
                            <label for="inputEnd" class="col-lg-2 control-label">Endereço</label>
                            <div class="col-lg-10">
                                @Html.TextBoxFor(model => model.Endereco, new { @id = "inputEnd", @maxlength = "50", @placeholder = "Endereço", @class = "form-control", @type = "text" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputBairro" class="col-lg-2 control-label">Bairro</label>
                            <div class="col-lg-10">
                                @Html.TextBoxFor(model => model.Bairro, new { @id = "inputBairro", @maxlength = "50", @placeholder = "Bairro", @class = "form-control", @type = "text" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputCid" class="col-lg-2 control-label">Cidade</label>
                            <div class="col-lg-10">
                                @Html.TextBoxFor(model => model.Cidade, new { @id = "inputCidade", @maxlength = "50", @placeholder = "Cidade", @class = "form-control", @type = "text" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputCep" class="col-lg-2 control-label">Cep</label>
                            <div class="col-lg-10">
                                @Html.TextBoxFor(model => model.Cep, new { @id = "inputCep", @maxlength = "9", @class = "form-control", @type = "text" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputTelefone" class="col-lg-2 control-label">Telefone</label>
                            <div class="col-lg-10">
                                @Html.TextBoxFor(model => model.Telefone, new { @id = "inputTel", @maxlength = "20", @class = "form-control", @type = "tel" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <input type="submit" value="Atualizar" class="btn btn-primary" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            @if (Easy.Models.Usuario.VerificaSeOUsuarioEstaLogado().Status == "S")
            {

                <form class="well form-horizontal" style="" method="post" action="/Contatos/Permissao">
                    <fieldset>
                        <legend>Alterar Permissão</legend>
                        @Html.HiddenFor(model => model.IdUser)
                        <div class="col-lg-10">
                            @Html.HiddenFor(model => model.Email)
                            <div class="checkbox">
                                @if (Html.ViewData.Model.UsuarioSistema == "S")
                                { ViewBag.V1 = "checked"; }
                                else
                                { ViewBag.V1 = ""; }
                                @if (Html.ViewData.Model.LiberaConvite == "S")
                                { ViewBag.V2 = "checked"; }
                                else
                                { ViewBag.V2 = ""; }
                                <label>
                                    <input type="checkbox" name="CheckUserSist" id="CheckUserSist" @ViewBag.V1>Usuario do Sistema</label>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="CheckEnvConv" id="CheckEnvConv" @ViewBag.V2>Permissão - Envio de Convite</label>
                                </div>
                            </div>
                            <br />
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                        <input type="submit" value="Alterar" class="btn btn-success" />
                                </div></div>
                    </fieldset>
                </form>
            }

            <form class="well form-horizontal" style="" method="post" action="/Contatos/Apagar">
                <fieldset>
                    <legend>Apagar Contato?</legend>
                    @Html.HiddenFor(model => model.IdUser)
                    <div class="form-group">
                            <div class="col-md-2 ">
                    <input type="submit" value="Apagar" class="btn btn-warning" />
                                </div></div>
                </fieldset>
            </form>
        </div>

    </div>
</div>
<script>

    if ($("#hidValida").val() == 1) {
        $(document).ready(function () {
            $.snackbar({ content: "Permissões Atualizadas.", timeout: 3000 });
            $("#hidValida").val() = 0;
        });
    } else if ($("#hidValida").val() == 2) {
        $(document).ready(function () {
            $.snackbar({ content: "Dados do contato atualizado. Verifique as informações.", timeout: 3000 });
            $("#hidValida").val() = 0;
        });

    }

</script>    