@model Easy.Models.EmailTarefas
To: @Model.Para
From: test@example.org
Bcc: @Model.Bcc
Subject: @Model.Assunto

<html>
<body>
    <div id="bodyreadMessagePartBodyControl1281f" class="ExternalClass MsgBodyContainer" data-link="class{:~tag.cssClasses(PlainText, IsContentFiltered)}">


        <table cellpadding="0" cellspacing="0" width="600" align="center">
            <tbody>
                <tr>
                    <td style="background-color: #9f38c2; padding: 50px 30px 30px;" width="600">
                        <p style="font-size: 30px; font-weight: lighter; line-height: 38px; color: #ffffff; font-family: 'Segoe UI Light', 'Segoe WP Light', 'Segoe UI', Helvetica, Arial;">@Model.Quem</p>
                        <p style="font-size: 30px; font-weight: lighter; line-height: 38px; color: #ffffff; font-family: 'Segoe UI Light', 'Segoe WP Light', 'Segoe UI', Helvetica, Arial;">Titulo: @Model.Titulo</p>
                    </td>
                </tr>
                <tr>
                    <td style="color: #454545; padding: 53px 30px 35px; font-family: 'Segoe UI', Arial, Helvetica; font-size: 14px; line-height: 20px;" width="600">
                        <p style="font-size: 19px; line-height: 25px; color: #454545; font-family: 'Segoe UI', Arial, Helvetica;">Descrição da Tarefa: @Model.Descricao</p>
                        <table border="0" cellpadding="0" cellspacing="0" style="color: #454545; font-size: 14px; line-height: 20px; font-family: 'Segoe UI', Arial, Helvetica;">
                            <tbody>
                                <tr>
                                    <td style="padding: 0px;">Quando:&nbsp;</td>
                                    <td style="padding: 0px;">@Model.Quando </td>
                                </tr>
                                @*<tr>
                                   <td style="padding: 0px;">:&nbsp;</td>
                                    <td style="padding: 0px;"></td>
                                </tr>*@
                            </tbody>
                        </table>
                        <br>
                        <p style="">@Model.Mensagem</p>
                        <p style="">@Model.Prioridade</p>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0px 30px; background-color: #d3d0d0; color: #ffffff; font-size: 78%; font-family: 'Segoe UI', Arial, Helvetica;" width="600">
                        <br />
                        <br />
                        
                        <a href="@Model.UrlAceita" style="font-size: 16px; background-color: #9f38c2; font-weight: bold; font-family: sans-serif; text-decoration: none; line-height: 40px; display: inline-block">
                            <span style="color: #ffffff;">Verificar
                            </span></a>

                        <br />
                        <br />
                        <br />
                    </td>
                </tr>
            </tbody>
        </table>




    </div>
</body>
</html>
