@model Easy.Models.Tarefas

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "AdicionarTarefa";

    List<SelectListItem> listaPrior = new List<SelectListItem>();
    listaPrior.Add(new SelectListItem { Text = "Baixa", Value = "B", Selected=true });
    listaPrior.Add(new SelectListItem { Text = "Média", Value = "M" });
    listaPrior.Add(new SelectListItem { Text = "Alta", Value = "A" });
    
}

<div class="bs-docs-section">
    <div class="row" style="">
        <div class="col-lg-9">
            <div class="well bs-component">

    @using (Html.BeginForm("AdicionarTarefa", "Tarefas", null, FormMethod.Post, new { @class="form-horizontal"})) {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <fieldset>
                        <legend>Informações da Tarefa</legend>

                        <div class="form-group">
                            <label for="textArea" class="col-lg-2 control-label">Descrição</label>
                            <div class="col-lg-10">
                                @Html.TextAreaFor(model => model.Descricao, new {@class="form-control", rows="3" , id="textArea", @maxlength="200" })
                                <span class="help-block">A descrição da Tarefa deve ser breve, contendo no máximo 200 caracteres.</span>
                                @Html.ValidationMessageFor(model => model.Descricao, null, new { @class="text-danger"})
                            </div>
                        </div>
                       <div class="form-group">
                            <label for="inputDefault" class="col-lg-2 control-label">Data de Início</label>
                             <div class="col-lg-10"> 
                                <div class="controls input-append date form_date" data-date="" data-date-format="dd/mm/yyyy" data-link-field="dtp_input1">
                                     @Html.TextBoxFor(model => model.DtInicio, new { @class="form-control dtIni", id="inputDefault", @readonly=true, @size="20" })
                                     @Html.ValidationMessageFor(model => model.DtInicio, null, new { @class="text-danger"})
                                    <span style="margin-left:90%" class="add-on"><i class="icon-th icon-material-today"></i></span>&nbsp&nbsp
                                    <span class="add-on"><i class="icon-material-close btClose1"></i></span>
                                </div>
				               <input type="hidden" id="dtp_input2" value="" /><br/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputDefault" class="col-lg-2 control-label">Data de Término</label>
                             <div class="col-lg-10"> 
                                <div class="controls input-append date form_date" data-date="" data-date-format="dd/mm/yyyy" data-link-field="dtp_input1">
                                     @Html.TextBoxFor(model => model.DtFim, new { @class="form-control dtFim", id="inputDefault", @readonly=true, @size="20" })
                                     @Html.ValidationMessageFor(model => model.DtFim)
                                    <span style="margin-left:90%" class="add-on"><i class="icon-th icon-material-today"></i></span>&nbsp&nbsp
                                    <span class="add-on"><i class="icon-material-close btClose2"></i></span>
                                </div>
				               <input type="hidden" id="dtp_input2" value="" /><br/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="select" class="col-lg-2 control-label">Prioridade</label>
                            <div class="col-lg-10">
                                @Html.DropDownListFor(model => model.Prioridade, listaPrior, new {@class ="form-control" })
                                @Html.ValidationMessageFor(model => model.Prioridade)
                            </div>
                       </div>
                        <div class="form-group">
                        <label for="select" class="col-lg-2 control-label">Relacionado</label>
                        <div class="col-lg-10">
                            @Html.TextBoxFor(model => model.Relacionado, new {id = "tcomplete", @class ="form-control", @placeholder = "Escolha um contato.." })
                            @Html.ValidationMessageFor(model => model.Relacionado)
                        </div>
                       </div>
                       <br />
                       <br />
                       <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <input type="submit" class="btn btn-primary" value="Adicionar" />
                            </div>
                        </div>
                  </fieldset>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")   
    @Scripts.Render( "~/bundles/jqueryui" )
    @Scripts.Render("~/bundles/bootdt")

}

<script type="text/javascript">

    function DataAtual() {
        var now = new Date();
        var data = now.getDay + '/' + now.getMonth + '/' + now.getYear;

        return data;
    }

    $(document).ready(function () {

        $("#tcomplete").autocomplete(
            {
                minLength: 1,
                source: function (request, response) {
                    $.ajax({
                        url: "/Tarefas/BuscaRelacionado",
                        type: "POST",
                        dateType: "json",
                        data: {busca: request.term, max: 10},
                        success: function (data){
                            response($.map(data, function(item){
                                return { label: item.EmailTeste }
                            }))
                        }
                    })
                }
            });
    });

    $(".btClose1").click(function () {
        $(".dtIni").val("");
    });

    $(".btClose2").click(function () {
        $(".dtFim").val("");
    });

    $('.form_datetime').datetimepicker({
        language: 'pt-BR',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1,
        startDate: '+0d'
    });
    $('.form_date').datetimepicker({
        language: 'pt-BR',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0,
        startDate: '+0d'
    });
    $('.form_time').datetimepicker({
        language: 'pt-BR',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 1,
        minView: 0,
        maxView: 1,
        forceParse: 0
    });
</script>
