@using PagedList.Mvc;
@model PagedList.IPagedList<Easy.Models.Tarefas>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Gerenciamento de Tarefas";
    string classe = "";
    int valida = 0;

    if (Session["AddTarefa"] != null)
    {
        valida = int.Parse(Session["AddTarefa"].ToString());
    }
    
    var coment = new Easy.Models.DAOComentarios();
    int id = 0;
    
    Session.Remove("AddTarefa");
}

<input id="hidValida" value="@valida" type="hidden"/>
<h2>Gerenciamento de Tarefas</h2>
<a href="~/Tarefas/AdicionarTarefa" style="margin-left: 90%" class="btn btn-fab btn-primary btn-raised icon-material-add"></a>
<br />
<br />
<!--Filtros -->
<div class="navbar navbar-inverse">

    <div class="navbar-inverse-collapse">
        @using(Html.BeginForm("Index", "Tarefas", FormMethod.Get, new { @class="navbar-form navbar-left" }))
        {
            @Html.TextBox("search", null, new { @class="form-control col-lg-8", @placeholder="Pesquisar..", @onKeyPress="return submitenter(this,event)" } )
        }
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Data de Início <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Crescente", "Index", new { @sortOrder = "icresc" })</li>
                    <li>@Html.ActionLink("Descrescente", "Index", new { @sortOrder = "idesc" })</li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Data de Término <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Crescente", "Index", new { @sortOrder = "tcresc" })</li>
                    <li>@Html.ActionLink("Descrescente", "Index", new { @sortOrder = "tdesc" })</li>
                </ul>
            </li>
        </ul>
          <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Prioridade <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Baixa", "Index", new { @sortOrder = "baixa" })</li>
                    <li>@Html.ActionLink("Média", "Index", new { @sortOrder = "media" })</li>
                    <li>@Html.ActionLink("Alta", "Index", new { @sortOrder = "alta" })</li>
                </ul>
            </li>
        </ul>
         <!--&nbsp &nbsp &nbsp &nbsp <input type="submit" class="btn btn-primary" value="Filtrar" /> -->
    </div>
</div>
<!--Fim-->
<div class="bs-docs-section">
    <div class="row" style="">
        <div class="col-lg-12">
            <table class="table table-striped table-hover well bs-component">
                <tr>
                    <th></th>
                    <th>
                        <br />
                    </th>
                    <!--<th>
            Html.DisplayNameFor(model => model.DtInicio)
        </th>
        <th>
            Html.DisplayNameFor(model => model.DtFim)
        </th>-->
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {

                    <tr class="">
                        <td>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="well">
                                <div class="div-tarefas">
                                @Html.DisplayFor(modelItem => item.Descricao)&nbsp&nbsp&nbsp
                                </div>
                            </div>
                            @if (item.Prioridade == "A")
                            {
                                <div title="Prioridade Alta" class="div-simples">@item.DtInicio - @item.DtFim &nbsp <i data-toggle="modal" data-target="#largeModal" title="Inserir Comentário" class="mdi-action-question-answer"></i> &nbsp <i class="text-danger mdi-image-assistant-photo"></i></div>
                            }
                            else if (item.Prioridade == "M")
                            {
                                <div title="Prioridade Média" class="div-simples">@item.DtInicio - @item.DtFim &nbsp <i data-toggle="modal" data-target="#largeModal" title="Inserir Comentário" class="mdi-action-question-answer"></i> &nbsp <i class="texto-amarelo mdi-image-assistant-photo"></i></div>
                            }
                            else
                            {
                                <div title="Prioridade Baixa" class="div-simples">@item.DtInicio - @item.DtFim &nbsp <i data-toggle="modal" data-target="#largeModal" title="Inserir Comentário" class="mdi-action-question-answer"></i> &nbsp <i class="text-success mdi-image-assistant-photo"></i></div>
                            }
                        </td>
                        <td>
                            <form action="~/Tarefas/EditTarefa" method="get">
                                @Html.Hidden("id", item.IdTarefa)
                                @if(ViewBag.Id == item.Criador.IdUser){
                                <div class="btn-group color_button" style="margin-left: 0%">
                                    <button type="submit" class="btn btn-default"><i class="texto2 icon-material-create"></i></button>
                                </div>
                                }
                                else{
                                <div class="btn-group color_button" style="margin-left: 0%">
                                    <button type="button" class="btn btn-default"><i class="texto2 icon-material-lock-outline"></i></button>
                                </div>
                                }
                            </form>
                        </td>
                        <!--<td>
            Html.DisplayFor(modelItem => item.DtInicio)
        </td>
        <td>
            Html.DisplayFor(modelItem => item.DtFim)
        </td>-->
                        <!--<td>
            <div class="btn-group" style="margin-left:25%">
                <button type="button" class="btn btn-default"><i class="icon-material-create"></i></button>
                <button type="button" class="btn btn-default"><i class="icon-material-clear"></i></button>
            </div>

            <!--Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        </td>-->

                    </tr>
                                id = item.IdTarefa;
                }

            </table>
            Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.Sort, currentFilter = ViewBag.Filtro }))
        </div>

        <div class="bs-example">
            <!-- Large modal -->

            <div id="largeModal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                                @Html.Partial("Comentarios", coment.ListaComentarios(id))
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootdt")
}

<script>

    $(document).ready(function () {
        $("#btteste").click(function () {
            $("#myModal").modal('toogle');
        });
    });

    if ($("#hidValida").val() == 1) {
        $(document).ready(function () {
            $.snackbar({ content: "A Tarefa foi Cadastrada com Sucesso. Verifique as informações.", timeout: 8000 });
            $("#hidValida").val() = 0;
        });
    }
    else if ($("#hidValida").val() == 2) {
        $(document).ready(function () {
            $.snackbar({ content: "A Tarefa foi Alterada com Sucesso. Verifique as informações.", timeout: 8000 });
            $("#hidValida").val() = 0;
        });
    }

    $(document).ready(function () {
        $(".HideComentario").hide();
    });;

    $("#btCom").click(function () {
        var x = $("#btCom").val();
        $("#" + x).slideToggle();
    });

    $('#myTab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })

</script>

@{
    
    Session["AddTarefa"] = 0;
}