@model Easy.Models.Usuario
@{
    ViewBag.Title = "Meu Perfil";
}

<div class="bs-docs-section">
              <div class="row" style="">
                <div class="col-lg-9">
                  <div class="well bs-component">
                    <form class="form-horizontal" style="" method="post">
                      <fieldset>
                        <legend>Perfil</legend>
                         @Html.ValidationSummary(true)
                        <div class="row-picture">
                            <img class="circle" src="~/Content/img/contato.png" alt="icon">
                        </div>
                          <br />
                          <hr />
                        <div class="form-group">
                          <label for="inputNome" class="col-lg-2 control-label">Nome</label>
                          <div class="col-lg-10">
                          @Html.TextBoxFor(model => model.Nome, new { @id="inputNome", @maxlength = "50", @placeholder="Nome", @class = "form-control" })
                           </div>
                        </div>
                        <div class="form-group">
                          <label for="inputNome" class="col-lg-2 control-label">Sobrenome</label>
                          <div class="col-lg-10">
                          @Html.TextBoxFor(model => model.Sobrenome, new { @id="inputNome", @maxlength = "50", @placeholder="Sobrenome", @class = "form-control" })
                           </div>
                        </div>
                        <div class="form-group">
                          <label for="inputNome" class="col-lg-2 control-label">Senha</label>
                          <div class="col-lg-10">
                          @Html.PasswordFor(model => model.Senha, new { @id="inputNome", @maxlength = "50", @placeholder="Password", @class = "form-control" })
                           </div>
                        </div>
                        <div class="form-group">
                          <label for="inputNome" class="col-lg-2 control-label">Confirmar Senha</label>
                          <div class="col-lg-10">
                          @Html.PasswordFor(model => model.Senha, new { @id="inputNome", @maxlength = "50", @placeholder="Password", @class = "form-control" })
                           </div>
                        </div>
                          <div class="form-group">
                          <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                          <div class="col-lg-10">
                             @Html.TextBoxFor(model => model.Email, new { @id="inputEmail", @placeholder="Email", @class = "form-control", @type="email" })
                            </div>
                          </div>    
        
                        <br />
                         <h4>Adicionais</h4>
                          <hr />

                          <div class="form-group">
                          <label for="inputEnd" class="col-lg-2 control-label">Endereço</label>
                          <div class="col-lg-10">
                             @Html.TextBoxFor(model => model.Endereco, new { @id="inputEnd", @placeholder="Endereço", @class = "form-control", @type="text" })
                          </div>
                        </div>
                          
                          <div class="form-group">
                          <label for="inputBairro" class="col-lg-2 control-label">Bairro</label>
                          <div class="col-lg-10">
                             @Html.TextBoxFor(model => model.Bairro, new { @id="inputBairro", @placeholder="Bairro", @class = "form-control", @type="text" })
                          </div>
                        </div>

                          <div class="form-group">
                          <label for="inputCid" class="col-lg-2 control-label">Cidade</label>
                          <div class="col-lg-10">
                             @Html.TextBoxFor(model => model.Cidade, new { @id="inputCidade", @placeholder="Cidade", @class = "form-control", @type="text" })
                          </div>
                        </div>

                             <div class="form-group">
                          <label for="inputCep" class="col-lg-2 control-label">Cep</label>
                          <div class="col-lg-10">
                             @Html.TextBoxFor(model => model.Cep, new { @id="inputCep", @class = "form-control", @type="text" })
                          </div>
                        </div>

                          <div class="form-group">
                          <label for="inputTelefone" class="col-lg-2 control-label">Telefone</label>
                          <div class="col-lg-10">
                             @Html.TextBoxFor(model => model.Telefone, new { @id="inputTel", @class = "form-control", @type="tel" })
                          </div>
                        </div>
                       
                        <div class="form-group">
                          <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary">Atualizar Perfil</button>
                          </div>
                        </div>
                      </fieldset>
                    </form>
                  </div>
                </div>
              </div>
 </div>           

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/jquery-1.8.2.js" type="text/javascript"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#divFileUpload").mouseenter(function () {
            imageStatusOnHover();
        }).mouseleave(function(){ 
            imageStatusOffHover();
        });

    });

    function imageStatusOnHover() {
        if ($("#file1").val() != "") {
            var fileURL = $("#file1").val().replace(/\\/g, "\\\\");
            showImagemTooltip(fileURL);
        }
    }

    function imageStatusOffHover() {
        $('#divImageTooltip').hide();
    }

    function showImagemTooltip(file) {
        $('#divImageTooltip').css({
            "backgroundImage": "url(" + file + ")",
            "background-repeat": "no-repeat",
            "background-size": "contain",
            "background-position": "center",
            "background-color": "white"
        });

        $('#divImageTooltip').show();
        $("#divFileUpload").mousemove(function (event) {
            $('#divImageTooltip').css({ 'top': event.pageY, 'left': event.pageX });
        });
    }


</script>
